
body{
    font-size: 16px;
    color: #fff;
    background-color:rgba(207, 207, 207, 0.329);
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;

}
/*header*/
header{
    position: sticky;
    top: 0px;
    z-index: 1;
}
.header-button:hover{
    background-color: rgb(88, 88, 88);
}
.header-button{
    padding-top: 15px;
    padding-bottom: 15px;
}
#header-nav{
    background-color: rgb(48, 58, 58);
    border:0;
    padding:0;
}
.navbar-nav{
    padding-top: 0px;
    padding-bottom: 0px;
}
.fa-comment{
    color: rgb(20, 119, 211);
    margin-left: 15px;
}
header span{
    color: rgb(20, 119, 211);
    margin-top: 15px;
    font-size: 25px;
    margin-left: 5px;
    margin-right: 10px;
}
header ul{
    margin: auto;
    width: 50%;
    padding: 10px;
}
header p{
    color: rgb(255, 255, 255);
    margin: 0px 35px 5px 35px;
    text-align: center;
    font-size: 20px;
}
.contact-info i{
    font-size: 50px;
    margin:  0px 20px 0px 10px;
}
.custom_navbar{
    margin-right: 18px;
}

/*Jumbotron*/
#main-content{
    min-height: 100vh;
}
/*About me */
#about-me{
    scroll-margin-top: 5em;
    background: url('../img/background2.jpg') no-repeat;
    background-size:cover;
}
#about-me h1{
    color: black;
}
#about-me p{
    color: black;
}
#resume-button{
    border-color: red;
}
#resume-button a{
    color: red;
}
#resume-button:hover{
    background-color: red;
}
#about-me button a{
    text-decoration:none;
    font-size: 30px;
}

#about-me button:hover a{
    color: black;
}
#about-me button{
    margin: 5px 10px 0px 5px;
}

/*work*/
#work{
    background-color:rgb(158, 167, 167);
    width: 100%;
    scroll-margin-top: 4em;
}
#work h2{
    text-align: center;
}
#work i{
    font-size: 35px;
    margin: 10px 10px 0px 10px;
}
#work a{
    text-decoration:none;
}
.project-image{
    border: 1px solid rgb(20, 119, 211);
    border-radius: 25px;
    height: 300px;
    margin-top: 30px;

}
.project-image:hover{
    opacity: 0.5;
    
}
.project-image i{
    display: none;
    text-align: center;
    padding: 120px;
}
.project-image:hover i{
    display: block;
}

.project-info{
    margin-top: 10px;
}

.project-info h3{
    text-align: center;
    font-size: 24px;
}
.project-info div{
    text-align: center;
    font-size: 16px;
}
#project1{
    background: url('../img/project1.JPG') no-repeat;
    background-size:cover;
}
#project2{
    background: url('../img/project2.JPG') no-repeat;
    background-size:cover;
}

/*skills*/
#skills{
    scroll-margin-top: 4em;
    background: url('../img/background1.jpg') no-repeat;
    background-size:cover;
}
#skills h2{
    color: black;
    text-align: center;
}
#skill-block{
    text-align: center;
    margin-top: 15px;
}

.skill-bar {
    position: relative;
    background-color: rgb(161, 160, 160);
    border-radius: 1.25em;
    width: 400px;
    height: 24px;
    display: inline-block;
    margin-bottom: 15px;
}
.skill-value {
    position: absolute;
    left: 0px;
    border-radius: 1.25em;
    height: 24px;
    display: inline-block;

}
#skill1{
    background-color: rgba(0, 81, 255, 0.61);
    width: 80%;
}
#skill2{
    background-color: orange;
    width: 50%;
}
#skill3{
    background-color: rgba(0, 81, 255, 0.849);
    width: 50%;
}
#skill4{
    background-color: rgba(206, 202, 7, 0.952);
    width: 40%;
}
.skill-name{
    position: relative;
    top: 3px;
    left: 250px;
    color: rgb(0, 0, 0);
}
.skill-name i{
    margin-left: 5px;
    font-size:larger;
}

/*Footer*/
#my-footer{
    bottom:0;
    width:100%;
    background-color: rgb(48, 58, 58);

}
#my-footer h2{
    color: rgb(20, 119, 211);
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}
#my-footer a{
    text-decoration: none;
}
#credit-container a{
    color: #fff;
    font-size: 20px;
}
#my-footer a:hover{
    background-color: rgb(76, 76, 80);
}
#credit{
    bottom: 10px;
    margin-top: 30px;
    text-align: center;
    width: 100%;
}

/*small size*/
@media(max-width:992px){
    .personal-project{
        height: 400px;
    }
}
/*mobile size*/
@media(max-width:576px){
    .contact-info i{
        font-size: 24px;
        margin: 0px 10px 0px 10px;
        float: left;
    }
    /*skills*/
    .skill-bar {
        width: 200px;
    }

    .skill-name{
        left: 150px;
    }


}
